In [1]:
import pandas as pd
import ijson
import numpy as np
import json
import io
import os

In [20]:
data = pd.read_csv('LasVegas_tips_after2017.csv')

In [8]:
data.head()

,Unnamed: 0,business_id,text,date,attributes,categories,city,name,stars,review_count
0,8,KPgyqG3MyFUDK7GRbUg51A,Kelly Paun was so full of knowledge and was so...,2017-03-23,NaN,"Landmarks & Historical Buildings, Travel Servi...",Las Vegas,Pink Jeep Tours,4.5,136
1,20,JtNVcqioJhS8GZ-If30oHg,Make sure you sign up for Emerald club before ...,2018-03-29,NaN,"Automotive, Hotels & Travel, Car Rental",Las Vegas,National Car Rental,4.0,224
2,34,gh6__q2WXFuyN8gt6VAnWw,Very delicious food with very fast delivery!,2017-09-24,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189
3,55,gh6__q2WXFuyN8gt6VAnWw,Amazing Portuguese food! Linguica (chirizo) is...,2017-12-11,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189
4,56,gh6__q2WXFuyN8gt6VAnWw,All the way from Porto portugal lost off love!...,2018-04-10,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189

In [11]:
data.dtypes

Unnamed: 0        int64
business_id      object
text             object
date             object
attributes       object
categories       object
city             object
name             object
stars           float64
review_count      int64
dtype: object

## Define a categorical variable

In [12]:
data.index

RangeIndex(start=0, stop=65280, step=1)

In [22]:
stars = np.array(data['stars'])

In [23]:
##1.0 means good; 0.0 means not good, bad ...
stars[stars<4.0] = 0.0
stars[stars>=4.0] = 1.0
data['class'] = stars

In [25]:
data.head(15)

,Unnamed: 0,business_id,text,date,attributes,categories,city,name,stars,review_count,class
0,8,KPgyqG3MyFUDK7GRbUg51A,Kelly Paun was so full of knowledge and was so...,2017-03-23,NaN,"Landmarks & Historical Buildings, Travel Servi...",Las Vegas,Pink Jeep Tours,4.5,136,1.0
1,20,JtNVcqioJhS8GZ-If30oHg,Make sure you sign up for Emerald club before ...,2018-03-29,NaN,"Automotive, Hotels & Travel, Car Rental",Las Vegas,National Car Rental,4.0,224,1.0
2,34,gh6__q2WXFuyN8gt6VAnWw,Very delicious food with very fast delivery!,2017-09-24,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189,1.0
3,55,gh6__q2WXFuyN8gt6VAnWw,Amazing Portuguese food! Linguica (chirizo) is...,2017-12-11,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189,1.0
4,56,gh6__q2WXFuyN8gt6VAnWw,All the way from Porto portugal lost off love!...,2018-04-10,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...","Seafood, Restaurants, Steakhouses, Greek, Fren...",Las Vegas,Vila Algarve,4.5,189,1.0
5,57,u_8cVZyxh0J468zEZUjNDQ,The pizza is literally the size of my head. An...,2018-02-24,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
6,61,u_8cVZyxh0J468zEZUjNDQ,1 whole Cheese Pizza is $75!!! gtfo,2018-02-06,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
7,62,u_8cVZyxh0J468zEZUjNDQ,How much is a whole pie?,2018-03-18,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
8,65,u_8cVZyxh0J468zEZUjNDQ,"Quantity is valued more than quality here, tha...",2017-03-18,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
9,66,u_8cVZyxh0J468zEZUjNDQ,The only slice of pizza I've tossed without fi...,2018-05-19,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
10,67,u_8cVZyxh0J468zEZUjNDQ,"Expect Pin-Up to close shortly, for the same r...",2018-06-01,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
11,71,u_8cVZyxh0J468zEZUjNDQ,Great pizza ! Will return for sure,2018-04-16,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
12,72,u_8cVZyxh0J468zEZUjNDQ,At the strip by Planet Hollywood. The biggest ...,2018-06-04,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
13,76,u_8cVZyxh0J468zEZUjNDQ,3/17/18: no garlic knots or cannolis available...,2018-03-17,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0
14,84,u_8cVZyxh0J468zEZUjNDQ,Name changed to Ringers now,2018-04-29,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Pizza, Restaurants",Las Vegas,Pin-Up Pizza,3.5,552,0.0

#### A glimpse onto the statistics of the class variable

In [29]:
data['stars'].describe()

count    65280.000000
mean         3.908058
std          0.703868
min          1.000000
25%          3.500000
50%          4.000000
75%          4.500000
max          5.000000
Name: stars, dtype: float64

In [26]:
data['class'].describe()

count    65280.000000
mean         0.672733
std          0.469219
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: class, dtype: float64

#### Split the dataset into training set and test set

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
train_set, test_set = train_test_split(
...     data, test_size=0.33, random_state=42)

#### tf-idf

In [90]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer =  TfidfVectorizer(max_features=1000,stop_words='english')

In [91]:
vectorizer.fit(data['text'].values.astype('U'))

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=1000, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words='english', strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [108]:
train_tfidf = vectorizer.transform(train_set['text'].values.astype('U'))

In [93]:
test_tfidf = vectorizer.transform(test_set['text'].values.astype('U'))

In [106]:
train_tfidf.shape

(43737, 1000)

In [95]:
test_tfidf.shape

(21543, 1000)

In [58]:
#print(vectorizer.get_feature_names())

### K Means

In [110]:
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

from sklearn_pandas import DataFrameMapper

In [100]:
K = 8
KMeans_model = KMeans(n_clusters=K, init='k-means++', max_iter=100, n_init=1)
KMeans_model.fit(train_tfidf)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=8, n_init=1, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [109]:
order_centroids = KMeans_model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(K):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind]),
    print

Cluster 0:
 good
 food
 place
 service
 awesome
 delicious
 nice
 great
 friendly
 staff
Cluster 1:
 best
 vegas
 town
 ve
 place
 las
 food
 service
 hands
 pizza
Cluster 2:
 fast
 service
 friendly
 great
 food
 good
 super
 delivery
 place
 staff
Cluster 3:
 great
 service
 food
 place
 good
 customer
 staff
 friendly
 awesome
 excellent
Cluster 4:
 chicken
 fried
 good
 waffles
 best
 wings
 great
 food
 amazing
 love
Cluster 5:
 amazing
 food
 service
 great
 place
 staff
 customer
 definitely
 best
 love
Cluster 6:
 love
 place
 food
 great
 service
 good
 staff
 friendly
 awesome
 delicious
Cluster 7:
 don
 time
 just
 happy
 hour
 come
 good
 place
 like
 food

In [89]:
terms

['100',
 'app',
 'belly',
 'best',
 'came',
 'cat',
 'chrome',
 'climbing',
 'eating',
 'extension',
 'face',
 'feedback',
 'google',
 'impressed',
 'incredible',
 'key',
 'kitten',
 'kitty',
 'little',
 'map',
 'merley',
 'ninja',
 'open',
 'photo',
 'play',
 'promoter',
 'restaurant',
 'smiley',
 'squooshy',
 'tab',
 'taken',
 'translate',
 've']

In [83]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import adjusted_rand_score

documents = ["This little kitty came to play when I was eating at a restaurant.",
             "Merley has the best squooshy kitten belly.",
             "Google Translate app is incredible.",
             "If you open 100 tab in google you get a smiley face.",
             "Best cat photo I've ever taken.",
             "Climbing ninja cat.",
             "Impressed with google map feedback.",
             "Key promoter extension for Google Chrome."]

vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(documents)

In [84]:
true_k = 2
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
    n_clusters=2, n_init=1, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [85]:
print("Top terms per cluster:")

Top terms per cluster:

In [86]:
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(true_k):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind]),
    print

Cluster 0:
 google
 ninja
 climbing
 app
 feedback
 impressed
 incredible
 translate
 map
 cat
Cluster 1:
 best
 ve
 photo
 taken
 belly
 merley
 kitten
 squooshy
 restaurant
 came

In [ ]:
print("\n")
print("Prediction")

Y = vectorizer.transform(["chrome browser to open."])
prediction = model.predict(Y)
print(prediction)

Y = vectorizer.transform(["My cat is hungry."])
prediction = model.predict(Y)
print(prediction)